* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerOne {
    scroll-snap-type: x proximity;
    overflow-x: scroll;
    height: 100vh;
    display: flex;
}

.containerTwo {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    display: flex;
}

.containerThree {
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    height: 100vh;
    display: flex;
}
/* .section {
    flex: none;
} */

.one {
  background-color: #000;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  font-size: 12vh;
  font-family: 'Open Sans', sans-serif;
  flex: none;
}

.two {
    background-color: #000;
    height: 100vh;
    width: 800vw;
    scroll-snap-align: center;
    font-size: 15vh;
    font-family: 'Open Sans', sans-serif;
    display: flex;
}

.three {
    background-color: #000;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    font-size: 9vh;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    gap: 2em;
    position: relative;
}

.four {
    background-color: #333;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    font-size: 10vw;
    line-height: 30vh;
    width: 200vh;
    font-family: 'Montserrat', sans-serif;
}

.five {
    background-color: #000;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    font-size: 7vh;
    font-family: 'Open Sans', sans-serif;
}

.six {
    background-color: #000;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    font-size: 4vh;
    font-family: 'Open Sans', sans-serif;
}

.seven {
    background-color: #000;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    font-size: 5vh;
    font-family: 'Open Sans', sans-serif;
}

.eight {
    background-color: #000;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    font-size: 5vh;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    gap: 1.5em;
}

.askText {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#333;
    margin: 50px;
}

.justText {
    margin: 50px;
}

.start {
    margin: 20px 10px;
    align-items: center;
    font-size: 13vh;
    width: 100vw;
    color: #fff;
    list-style: none;
    line-height: 14vh;
    font-family: 'Open Sans', sans-serif;
}

.victory {
    font-size: 4vh;
    color: #333;
    list-style: none;
    display: flex;
    width: 200vw;
    gap: 1em;
    margin: 100px;
}

.victory > * {
    flex-basis: 100%;
}

.products {
    margin: 20px 10px;
    align-items: center;
    font-size: 3vh;
    color: #333;
    list-style: none;
    display: grid;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.codes {
    margin: 20px 10px;
    align-items: center;
    font-size: 3vh;
    color: #333;
    list-style: none;
    display: grid;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1em;
}

.codes > * {
    flex-basis: 100%;
}

.probText {
    width: 800vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.worriesText {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.saluteText {
    cursor: default;
    color: #000;
    -webkit-text-stroke: 0.1vw #fff;
    text-transform: uppercase;
    margin: 100px;
}

.friendText {
    cursor: default;
    color: #fff;
    text-transform: uppercase;
}

.productText {
    color: #fff;
    writing-mode: vertical-lr;
}

.codesText {
    color: #fff; 
    /* writing-mode: vertical-lr; */
}

.down-arrow{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.down-arrow span {
    display: block;
    width: 2vw;
    height: 4vh;
    border-bottom: 20px solid #fff;
    border-right: 20px solid #fff;
    transform: rotate(45deg);
    margin: 10px;
    animation: scroll-down 2s infinite;
}

.side-arrow{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.side-arrow span {
    display: block;
    width: 2vw;
    height: 4vh;
    border-top: 20px solid #fff;
    border-right: 20px solid #fff;
    transform: rotate(45deg);
    margin: 10px;
    animation: scroll-side 2s infinite
}

@keyframes scroll-side {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px, 20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: rotate(45deg) translate(20px, -20px);
    }
}

@keyframes scroll-down {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: rotate(45deg) translate(20px, 20px);
    }
}